body {
    margin: 0;
}

h1 {
    color: rgb(112, 118, 134);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;

}

.menu {
    width: 100%;
    height: 5em;
    background-color: black;
    display: flex;
    flex-direction: row-reverse;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    /* font-size: 2em; */
}

.menu-text {
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 2em;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dropdown {
    height: 100%;
    width: 10%;
    min-width: 5em;
    max-width: 7em;
    background-color: rgb(141, 40, 40);
    vertical-align: center;    
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    transition: 0.3s ;
    transform: 0.3s;
}

.dropdown:hover {
    justify-content: baseline;
}

.dropdown:hover .dropbar {
    transform: translate(0px, -10em);
}

.dropdown:hover .sidebar {
    height: 100%;
    vertical-align: top;
}

.dropdown:hover .sidebar-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dropdown:hover .body-content {
    width: 90%;
}

.sidebar {
    position: absolute;
    margin-top: 5em;
    margin-right: auto;
    width: 10%;
    min-width: 5em;
    max-width: 7em;
    height: 0%;
    background-color:rgb(141, 40, 40);
    transition: 0.3s;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-item {
    z-index: 2;
    height: 10%;
    width: 100%;
    background-color: inherit;
    color: white;
    display: none;
    transition-delay: 0.3ss;
    transition: 0.3s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: auto;
    text-align: center;
    justify-content: center;
}

.sidebar-item:hover {
    transform: scale(1.2);
    transform: translate(-10%);
    /* border:8px #444444 ridge; */
    box-shadow: 10px 10px 10px  #444444;
    z-index: 5;
}

.dropbar-container {
    width: 100%;
    height: 100%;
    display: flex; 
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}

.dropbar {
    background-color: white;
    width: 60%;
    border-radius: 1em;
    height: 10%;
    margin: 5%;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
    z-index: 3;
}

.body-content {
    padding: 12px;

}


button {
    width: 100%;
    height: 5em;
    color: white;
    background-color: black;
    border: 0px;
    border-radius: 5px;
}